<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--Przykład pozwolenia "normalnego", przyznawanego przy instalacji aplikacji-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--Przykład pozwolenia "niebezpiecznego", przyznawanego przez użytkownika w wyniku prośby programisty    -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!--Pozwolenie USE_EXACT_ALARM jest pozwoleniem "normalnym", ale z ograniczeniami.
    O takie pozwolenie mogą prosić tylko aplikację typu: budzik, kalendarz, przypomnienia-->
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />


    <application
        android:name=".ReminderShowcaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReminderShowcase">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.ReminderShowcase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${deepLinkHost}"
                    android:scheme="${deepLinkScheme}" />
            </intent-filter>
        </activity>


        <receiver
            android:name=".notifications.ReminderReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
